.apuntesTitle {
  display: flex;
  justify-content: center;
  color: #0e91cd;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  font-weight: bold;
}

#form {
  display: flex;
  justify-content: center;
}

.column_input {
  display: flex;
  justify-content: center;  
  padding: 2em;  
}

.column_input textarea {
  width: 30em;
}

.column_input .button-primary {
  width: 8em;
  height: 8em;
  align-self: center;
  border-radius: 50%;
  border: groove 0.5em rgb(1, 1, 49);
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 1em;
}

.column_input .button-primary:hover {
  background-color: rgb(106, 170, 9);
  border: groove 0.5em rgb(1, 158, 150);
  font-size: 1.2em;
  color: white;
}

.error {
  font-size: 1.5em;
  color:black;
  font-weight: bold;
  background-color: rgb(240, 145, 145);
  border: ridge red 0.5em;
}

.btnDelete {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;    
}

li {
  display: flex;
  justify-content: space-between;  
  width: 40em;
  font-size: 1.5em;
}