body {
  width: 100vw;  
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color:black;
  color: aliceblue;
  height: max-content;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

.navbar {
  background-image: url('../assets/img/background.jpg');
  background-position: center;
  height: 35vw
}

h1 {
  color: goldenrod;
  font-size: 2.2em;
}

.search {
  margin-top: 1em;
  width: 100%;
}

.updateForm {
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20em;
  border: groove 0.5em rgba(201, 200, 200, 0.897);
  padding: 1em;
}

.collapse .menuP {
  color: white!important;
  font-size: 1.2em;
}
.dropdown-menu {
  background-color: goldenrod;
  opacity: 50%;
  border: solid 1px white;
}

.collapse .menu-item {
  font-size: 1em;
  font-weight: bold;
  border: solid 1px goldenrod;  
  border-radius: 10%;
  margin-right: 10%;
  width: 4.5em;
  background-color: none;
}

.myCards {  
  margin-top: 1em;  
}

.botonera {
  display: flex;
  justify-content: center;
  width: 9.5em;
  padding: 1em 0 0 8em;
}

.botonera button {
  margin-left: 1.2em;  
  font-size: 1.2em;
  border-radius: 1em;  
}

.botonera button:hover {
  background-color: black;
  color: white;
  font-size: 1.5em;
}

.btnDel {
  width: 1.8em;
  height: 1.8em;
  background-color: rgb(7, 78, 78);
  color: white;    
  align-self: flex-end;
  margin-right: 1em;
  
}

.btnDel:hover {
  width: 2em;
  height: 2em;
  background-color: rgb(47, 129, 129);
  color: white;
  font-weight: bold;
}

.card {
  padding-top: 1em;      
  margin-top: 1em;      
}

.card-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  height: 15.6em;
  padding-bottom: 1em;      
}

.card img,
footer img {
  width: 5em;
  align-self: center;
}

.card p {
  font-size: 0.8em;  
}

.card .btn-primary {
  height: 2em;
  align-self: flex-end;  

}
footer {
  margin-top: 1em;
  background-image: url('../assets/img/background.jpg');  
}

footer img {
  margin-top: 1em;
}

.networks {
  display: flex;
  flex-direction: column;
  
}

.networks a {
  text-decoration: none;
  color: white;
}

.networks img {
  width: 2em;  
}

#terminos {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

#buscadorCrud {
  display: none; 
}

#wsp img {
  border-radius: 15%;
}