body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-family: 'Staatliches', cursive;
}
html {
    font-size: 62.5%;
}
h1 {
    font-family: 'Staatliches', cursive;
    font-size: 6rem;
    padding: 3rem 0;
    margin: 0;
}
.contenedor {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
}
p {
    font-size: 2rem;
}
h1, p {
    text-align: center;
}
form {
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem;
    background: white;
    margin-bottom: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}
#app p{
    text-align: left!important;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
#resultado p {
    margin: 0;
    padding: 2rem;
    border-bottom: 1px solid #e1e1e1;
}
#resultado p span {
    font-weight: bold;
}
#resultado p:last-of-type{
    border: none;
}
.alerta {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}
.error {
    background-color: red;
}

#buscador {
    margin-bottom: 0;
    padding-bottom: 0;
}
.sitio-web  {
    color: white;
    display: block;
    font-size: 4rem;
    max-width: 1200px;
    margin: 2rem auto;
    text-decoration: none;
}
.sitio-web:hover {
    color: white;
}

.btnToBack {
    color: black;
    font-size: 3em;
    background-color: lightblue;
    border-radius: 5%;
    text-decoration: none;
    border: groove 5px black
}